/* 🌬️ balanceo sutil tipo brisa del desierto */
@keyframes brisa {
  0%, 100% {
    transform: rotate(0deg) translateY(-2px);
  }
  40% {
    transform: rotate(0.5deg) translateY(1px);
  }
  70% {
    transform: rotate(3deg) translateY(-4px);
  }
}

.animate-brisa {
  animation: brisa 3s ease-in-out infinite;
  transform-origin: top center;
  will-change: transform;
}

.diana-img {
  position: fixed;
  top: 0;
  right: 38rem;
  width: 100px;
  height: auto;
  z-index: 50;
  transition: transform 0.4s ease;
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.6));
}

.diana-img:hover {
  transform: scale(1.15);
  filter: drop-shadow(3px 6px 8px rgba(0, 0, 0, 0.7));
}
