<section id="tombstone">
  <div class="pueblo-wrapper">
    <img src="assets/img/pueblo/fondo-pueblo.png" class="fondo" alt="Fondo del pueblo" />

    <!-- 🏨 Hotel -->
    <img src="assets/img/pueblo/hotel.png" class="building hotel" alt="Hotel" />

    <!-- 🎰 Casino -->
    <img src="assets/img/pueblo/casino.png" class="building casino" alt="Casino" />

    <!-- 🏦 Banco -->
    <img src="assets/img/pueblo/banco.png" class="building banco" alt="Banco" />

    <!-- 🍺 Taberna -->
    <img src="assets/img/pueblo/taberna.png" class="building taberna" alt="Taberna" />

    <!-- ANIMALES -->
    <img src="assets/img/animales/caballo-blanco-espalda.png" class="caballo-blanco" alt="Caballo blanco" />
    <img src="assets/img/animales/caballo-marron-espalda.png" class="caballo-marron" alt="Caballo marrón" />
    <img src="assets/img/animales/perro.png" class="perro" alt="Perro" />

    <!-- PERSONAJES -->
    <img src="assets/img/personajes/borracho1.png" class="borracho1" alt="Borracho" />
    <img src="assets/img/personajes/miron1.png" class="miron1" alt="Mirón" />
  </div>
</section>
