<section id="inicio" class="relative h-screen w-screen overflow-hidden bg-cover bg-center bg-no-repeat">

  <app-menu-dianas></app-menu-dianas>
  
  <!-- 🪧 Cartel SE BUSCA -->
  <div
    id="cartel"
    class="absolute bottom-10 right-10 md:bottom-20 md:right-20 z-20 cursor-pointer transition-transform duration-300 hover:scale-105"
    title="Cartel SE BUSCA"
  >
    <img
      src="assets/img/wanted-poster-empty.png"
      alt="Cartel Se Busca"
      class="w-24 md:w-40 drop-shadow-xl select-none"
    />
  </div>

  <div
    id="arbusto"
    class="absolute bottom-10 right-10 md:bottom-12 md:right-20 z-20 cursor-pointer transition-transform duration-300 hover:scale-105"
    title="arbusto"
  >
    <img
      src="assets/img/arbusto.png"
      alt="arbusto"
      class="w-24 md:w-40 drop-shadow-xl select-none"
    />
  </div>
</section>
