/* 🌅 Fondo del desierto */
#inicio {
  position: fixed; /* clave: fija el fondo sin generar desplazamiento */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/img/fondo-oeste1.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /* ⚠️ quitamos background-attachment: fixed (causaba overflow) */
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/* ❌ Elimina completamente scrolls */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

/* 🪧 Cartel fijo, sin moverse */
#cartel {
  position: fixed;
  bottom: 4.4rem; /* equivalente a bottom-10 */
  left: 18rem;
  z-index: 20;
  cursor: pointer;
  transition: transform 0.3s ease;
}

/* 🪧 arbusto fijo, sin moverse */
#arbusto {
  position: fixed;
  bottom: 0rem; /* equivalente a bottom-10 */
  left: 19rem;
  z-index: 20;
  cursor: pointer;
  transition: transform 0.3s ease;
}

@media (min-width: 768px) {
  #arbusto img {
    width: 11rem; /* aumenta en pantallas grandes */
  }
}

#cartel:hover {
  transform: scale(1.25);
}

#cartel img {
  display: block;
  width: 4rem; /* tamaño base */
  height: auto;
  user-select: none;
  -webkit-user-select: none;
}

@media (min-width: 768px) {
  #cartel img {
    width: 14rem; /* aumenta en pantallas grandes */
  }
}

/* ❌ Evita scrolls innecesarios */
html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}
